.ExtendedRealisation {
  position: absolute;
  width: 100vw;
  height: inherit;
  z-index: 2;

  .window {
    margin: 24px;
    width: 50%;
    background-color: $lightBeige;
    padding: 45px;

    h3,
    p {
      color: $dark !important;
      word-wrap: break-word;
      white-space: pre-wrap;
      word-break: break-word;
    }

    h3 {
      font-size: 2.5rem;
      margin: 16px 0;
    }

    .cross {
      top: 16px;
      right: 16px;
      cursor: pointer;
      .line {
        background-color: $dark;
        height: 2px;
        width: 40px;
        transform: translate(0px, 6px) rotate(225deg) scale(0.5, 1);
      }

      .line:last-of-type {
        margin-top: 10px;
        transform: translate(0px, -6px) rotate(-225deg) scale(0.5, 1);
      }
    }
  }

  @media screen and (max-width: 772px) {
    .window h3 {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 576px) {
    top: 0;
    transform: translateY(-20%);
    .window {
      margin: 0;
      width: 80%;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 16px;
      }

      p {
        font-size: 0.8;
      }
    }
  }
}
