#Header {
  background-color: $lightBeige;
  height: 100vh;
  width: 100vw;
  padding: 16px 24px;

  .container {
    height: 100%;
    width: 100%;
  }

  .img-container {
    width: 25vw;

    h1 {
      position: absolute;
      font-size: 5rem;
      font-style: italic;
      span {
        color: $lightBeige;
      }
    }

    h1:first-of-type {
      // Louis Albac
      top: 0;
      left: 0;
      transform: translateX(-45%);
    }

    h1:last-of-type {
      // Portfolio
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateX(50%);
    }
  }

  .footer {
    bottom: 0;
    left: 0;
    width: 100%;

    p {
      font-size: 1.2rem;
    }

    .socials {
      li {
        margin-left: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        background-color: $dark;
        border-radius: 50%;
        transition: background-color ease-out 0.1s;

        img {
          width: 21px;
          transform: translateY(2px);
        }

        &:hover {
          background-color: rgba(38, 37, 45, 0.5);
        }
      }
    }
  }

  @media screen and (min-width: 1440px) {
    .img-container h1:first-of-type,
    h1:last-of-type {
      font-size: 6rem;
    }

    .footer {
      bottom: 8px;
      right: 8px;
    }
  }

  @media screen and (min-width: 1800px) {
    .img-container h1:first-of-type,
    h1:last-of-type {
      font-size: 7rem;
    }
  }

  @media screen and (max-width: 992px) {
    .img-container h1:first-of-type,
    h1:last-of-type {
      font-size: 4rem;
    }
  }

  @media screen and (max-width: 772px) {
    .img-container {
      width: 33vw;
    }

    .img-container h1:first-of-type,
    h1:last-of-type {
      font-size: 3rem;
    }
  }

  @media screen and (max-width: 576px) {
    .img-container {
      width: 50vw;
    }

    .img-container h1:first-of-type,
    h1:last-of-type {
      font-size: 2.5rem;
    }
  }
}
